ATMOCE_BASE_URL=https://www.atmocecloud.com
ATMOCE_APP_KEY=your-atmoce-openapi-app-key
ATMOCE_APP_SECRET=your-atmoce-openapi-app-secret
ATMOCE_USERNAME=your-atmoce-username
ATMOCE_PASSWORD=your-atmoce-password

HUAWEI_BASE_URL=https://kr5.fusionsolar.huawei.com
HUAWEI_USERNAME=your-huawei-northbound-username
HUAWEI_SYSTEM_CODE=your-huawei-northbound-system-code
